// colors
$white: white;
$black: black;
$danger: #f54a5d;
$warning: #daa703;
$success: #7aa63a;
$info: #2aa0e8;
$themeBlue: #78b0e5;
$themeDarkBlue: #203864;
$themeGray: #ededed;
$themeDarkGray: #a09f9c;

$themeColors: (
  "Blue": $themeBlue,
  "DarkBlue": $themeDarkBlue,
  "Gray": $themeGray,
  "DarkGray": $themeDarkGray
);

// generate background-color and color css as per themecolors
@each $name, $value in $themeColors {
  .color-theme#{$name} {
    color: #{$value};
  }
  .bg-theme#{$name} {
    background-color: #{$value};
  }
}

// fonts
$montserrat: "Montserrat", sans-serif;
$montserratAlt: "Montserrat Alternates", sans-serif;
$roboto: "Roboto", sans-serif;
$robotoSlab: "Roboto Slab", serif;
$raleway: "Raleway", sans-serif;
$kurale: "Kurale", serif;
